@-webkit-keyframes glowGreen {
	from {
		-webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
	}

	50% {
		-webkit-box-shadow: rgba(0, 255, 0, 1) 0 0 10px;
	}

	to {
		-webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;
	}
}

@-webkit-keyframes glowRed {
	from {
		-webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
	}

	50% {
		-webkit-box-shadow: rgba(255, 0, 0, 1) 0 0 10px;
	}

	to {
		-webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;
	}
}

html {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	font: 12px Arial, sans-serif;
	background: #f9f9f9;
	background: -moz-radial-gradient(center, ellipse cover,  #f9f9f9 36%, #dbdbdb 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(36%,#f9f9f9), color-stop(100%,#dbdbdb));
	background: -webkit-radial-gradient(center, ellipse cover,  #f9f9f9 36%,#dbdbdb 100%);
	background: -o-radial-gradient(center, ellipse cover,  #f9f9f9 36%,#dbdbdb 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #f9f9f9 36%,#dbdbdb 100%);
	background: radial-gradient(ellipse at center,  #f9f9f9 36%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dbdbdb',GradientType=1 );
	color: #444;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#connection {
	position: fixed;
	left: 25%;
	top: 30%;
	width: 50%;
	height: 40%;
	font: 14px Arial, sans-serif;
	font-weight: bold;
	vertical-align: middle;
	color: black;
}

#connection span {
	display: inline-block;
	margin: 0 auto;
	font-size: 40px;
}

#connection.connected {
	background-color: green;
	-webkit-box-shadow: rgba(0, 255, 0, 0.5) 0px 0px 5px;
	animation: glowGreen 2s infinite linear;
	-webkit-animation: glowGreen 2s infinite linear;
	-moz-animation: glowGreen 2s infinite linear;
}

#connection.disconnected {
	background-color: red;
	box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
	-webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
	-moz-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
	animation: glowRed 2s infinite linear;
	-webkit-animation: glowRed 2s infinite linear;
	-moz-animation: glowRed 2s infinite linear;
}

#log {
	overflow: auto;
	width: 300px;
	height: 350px;
	margin-right: 20px;
	float: left;
}

#log p {
	margin: 0;
	padding: 0;
}

#log .info {
	color: navy;
	font-weight: bold;
}

#log .msg {
	margin-left: 11px;
}

.border {
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
}

#right-panel div {
	text-align: left;
}

#right-panel {
	height: 350px;
	width: 585px;
	float: left;
	font-size: 14px;
	text-align: center;
}

#myImage {
	//display: none;
	max-width: 960px;
	max-height: 460px;
	margin-left: 50%;
	margin-right: 50%;
	width: auto;
	height: auto;
	margin: 0;
	//margin: 0 auto;
}

button {
  /*background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));*/
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 8px 0 0;
	color: black;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	cursor: pointer;
}

button:not([disabled]):hover {
	border: 1px solid #939393;
}

button:not([disabled]):active {
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
}

button[disabled] {
	color: #ccc;
}

.house_container {
	width: 95%;
	margin: 0 auto;
	padding: 5px;
	border-bottom: #e1e1e1 4px solid;
}

.house_container div.row div.col-md-4 div {
	width: 100%;
	background: rgba(255, 255, 255, 0.75);
	font-size: 50px;
	font-weight: bold;
	color: #000;
	text-align: center;
	display: inline-block;
	padding: 5px 15px;
}

.house_container #A_score_box {
	border: red 5px solid;
}

.house_container #D_score_box {
	border: yellow 5px solid;
}

.house_container #H_score_box {
	border: #D89038 5px solid;
}

.house_container #J_score_box {
	border: green 5px solid;
}

.house_container #L_score_box {
	border: purple 5px solid;
}

.house_container #M_score_box {
	border: blue 5px solid;
}

/* Question */
#QuestionContainer {
	margin-top: 5px;
	color: #000000;
}

#Question_Catalog, #Question_Set, #Question_ID {
	color: #000000;
	font-size: 25px;
}

.question_content {
	text-align: center;
}

#Box_Question {
	min-width: 100%;
	width: 100%;
	font-size: 30px;
	margin-bottom: 1em;
}

.box-option {
	width: 95%;
	margin: 0 auto;
}

.box-option div {
	text-align: center;
}

.question_option {
	width: 50%;
	font-size: 30px;
	min-height: 50px;
}

#Question_Answer {
	//display: none;
	color: red;
	font-size: 36px;
	text-align: center;
}
