<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.edu.tsk.tskinter_housequizcontrolpanel" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuestionSetListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionSetDetailActivity"
            android:label="@string/title_questionset_detail"
            android:parentActivityName=".QuestionSetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionSetListActivity" />
        </activity>

        <service
            android:name=".SocketService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ConnectActivity"
            android:label="@string/title_activity_connect"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>



</manifest>


